.newMeetup {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: #3e5c76;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 1rem;
}

.newMeetup input {
  max-height: 1rem;
  width: 11rem;
  height: 12rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-left: none;
  background-color: #3e5c76;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border-color: #1d2d44;
}

.newMeetup input:hover {
  border-color: white;
}


.newMeetupWrapper {
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-top: 2rem;
  height: 100%; 
}


.form {
  padding: 2rem 3rem 2rem 3rem; 
  background-color: #1d2d44;
  width: 60%;
  border-radius: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cross {
  margin-left: auto;
  transition: transform .3s; 
}
.cross:hover {
  margin-left: auto;
  transform: scale(1.1);
}
.newMeetupWrapper p {
  border-radius: 1rem;
  color: white;
  background-color: #3e5c76;
  padding: 1rem 2rem 1rem 2rem;
  font-size: large;

}


.form button {
  margin: 0.1rem;
  width: 120px;
  font-size: larger;
  padding: 3px;
  color: white;
  background-color: #1d2d44;
  border-radius: 1rem;
  display: inline-block;
}

.form button:hover {
  background-color: #3e5c76;
}



.newMeetup p {
  background-color: #1d2d44;
  padding: 0.2rem 0rem 0.2rem 0rem;
  display: flex;
  justify-content: center;
  font-size: large;
}