.controlPanel {
  display: flex;
  margin: 15rem 15rem 0 15rem;
  justify-content: center;
  
}


.controlPanel input {
  width: 60%;
  margin-right: 2rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #0d132185;
  border-width: 0.2rem;
  background-color: #748CAB;
  outline:none;
  color: white;
  font-size: medium;
}

.controlPanel button {
  margin-right: 2rem;
  padding: 3px;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  color: white;
  background-color: #1d2d44;
  border-radius: 1rem;
  display: inline-block;
}