.meetup {
  word-break: break-all;
  margin: 1rem;
  width: 35%;
  background-color: #1D2D44;
  border-radius: 1rem;
  box-shadow: -12px 10px #3E5C76;
  transition: transform .3s; 
  color: white;
  padding: 1rem;
  flex-direction: column;
}

.meetup:hover {
  transform: scale(1.03);
}

.title {
  font-weight: bold;
  font-size: x-large;
  margin-top: 0;
}

.location {
  float: right;
  margin: 0.3rem;
}

.location p{
  display: flex;
  justify-content: flex-end;
  margin: 0;

}


.dueTime{
  float: right;
}

.description {
  float: left;
  width: 50%;
}

.tags {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags li {
  border-radius: 1rem;
  background-color: #0073a8;
  padding: 0.1rem 1.3rem 0.1rem 1.3rem;
  margin-right: 1rem;
  word-break: normal;
  margin-bottom: 1rem;
}

.meetup button {
  margin: 0.1rem;
  width: 120px;
  font-size: medium;
  padding: 3px;
  color: white;
  background-color: #1d2d44;
  border-radius: 1rem;
  display: inline-block;
}

.meetup button:hover {
  background-color: #961919;
}