.newMeetup {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: green;
  justify-content: center;
  align-items: center;
}

.newMeetupWrapper {
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-top: 10rem;
}


.form {
  padding: 1rem;
}

.cross {
  margin-left: auto;
  transition: transform .3s; 
}
.cross:hover {
  margin-left: auto;
  transform: scale(1.1);
}
.newMeetupWrapper p {
  background-color: green;
}