.formWrapper {
  display: flex;
  min-height: 100vh;
  color: white;
}

.Form {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  justify-content: center;
}

.formInner {
  background-color: #1d2d44;
  padding: 1rem;
  border-radius: 1rem;
  min-height: 75%;
  min-width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: -12px 10px #3e5c76;
}

.formInner label {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: large;
}

.formInner input {
  max-height: 1rem;
  width: 11rem;
  height: 12rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-left: none;
  background-color: #3e5c76;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border-color: #1d2d44;
}

.formInner input:hover {
  border-color: white;
}

.formInner span {
  font-size: x-large;
  padding-top: 0;
}

.formInner button {
  margin: 2rem;
  width: 120px;
  font-size: larger;
  padding: 3px;
  color: white;
  background-color: #1d2d44;
  border-radius: 1rem;
  display: inline-block;
}

.formInner button:hover {
  background-color: #3e5c76;
}

.imgMeetup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkText {
  text-decoration: none;
  color: white;
}
.linkText:hover {
  text-decoration: underline;
}
